@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')

$black: #000
$mineShaft : #2B2B2B
$dustyGray: #969696
$white: #ffff

body
  font-family: 'Rubic', sans-serif
  font-weight: 400